In [1]:
import pandas as pd
import functions as f
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
### Inistialize data ###

# balance sheet Microsoft
bs_annual_MSFT = pd.read_csv("data/bs_annual_MSFT.csv")
bs_annual_MSFT = f.second_clean(bs_annual_MSFT)

# cashflow Microsoft
cf_annual_MSFT = pd.read_csv("data/cf_annual_MSFT.csv")
cf_annual_MSFT = f.second_clean(cf_annual_MSFT)

# income statement Microsoft
pnl_annual_MSFT = pd.read_csv("data/pnl_annual_MSFT.csv")
pnl_annual_MSFT = f.second_clean(pnl_annual_MSFT)

In [3]:
# Calculating KPIs
pnl_annual_MSFT = f.calculating_kpi_pnl(pnl_annual_MSFT)
pnl_annual_MSFT["insights"] = pnl_annual_MSFT.apply(f.generate_automated_insights,axis=1)

In [4]:
pnl_annual_MSFT

,fiscalDateEnding,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,investmentIncomeNet,...,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome,grossMargin,operatingMargin,netProfitMargin,interestCoverageRatio,insights
1,2023,146052000000,209747000000,100049000000,65863000000,88523000000,30334000000,27195000000,61381000000,2994000000,...,72361000000,70696000000,91279000000,95131000000,72361000000,69.632462,42.204656,34.499182,46.381606,The Interest Coverage Ratio was healthy at 46....
2,2022,135620000000,196109000000,93355000000,62650000000,83383000000,27725000000,24512000000,55217000000,2094000000,...,72738000000,66238000000,85779000000,88759000000,72738000000,69.155419,42.518701,37.090598,41.579738,Net Profit Margin was an impressive 37.0905975...
3,2021,115856000000,165936000000,79977000000,52232000000,69916000000,25224000000,20716000000,48461000000,2131000000,...,61271000000,59897000000,73448000000,75969000000,61271000000,69.819690,42.134317,36.924477,31.307758,Net Profit Margin was an impressive 36.9244769...
4,2020,96937000000,140503000000,73159000000,46078000000,52959000000,24709000000,19269000000,46350000000,2680000000,...,44281000000,47807000000,55627000000,57838000000,44281000000,68.992833,37.692434,31.516053,21.469317,The Interest Coverage Ratio was healthy at 21....
5,2019,82933000000,123495000000,67908000000,42910000000,42959000000,23098000000,16876000000,41874000000,2762000000,...,39240000000,41154000000,46374000000,48274000000,39240000000,67.154946,34.786024,31.774566,17.265078,The Interest Coverage Ratio was healthy at 17....
6,2018,72007000000,107222000000,62776000000,38353000000,35058000000,22223000000,14726000000,39149000000,2214000000,...,16571000000,13715000000,39207000000,41407000000,16571000000,67.156927,32.696648,15.454851,14.345774,Net Profit Margin was recorded at 15.454850683...
7,2017,62310000000,96571000000,34261000000,34261000000,29025000000,20020000000,13037000000,35063000000,1387000000,...,21204000000,24322000000,32123000000,33823000000,25489000000,64.522476,30.055607,26.394052,14.456796,
8,2016,58374000000,91154000000,32780000000,32780000000,26078000000,19260000000,11988000000,33357000000,903000000,...,16798000000,19811000000,26882000000,27860000000,20539000000,64.038879,28.608728,22.532198,21.626710,"The Operating Margin was 28.608728086534875%, ..."
9,2015,60542000000,93580000000,33038000000,21410000000,18161000000,20324000000,12046000000,42381000000,766000000,...,12193000000,11007000000,19288000000,20588000000,12193000000,64.695448,19.406925,13.029493,24.696543,"The Operating Margin was 19.406924556529173%, ..."
10,2014,59755000000,86833000000,27078000000,16681000000,27759000000,20632000000,11381000000,31996000000,883000000,...,22074000000,24039000000,28417000000,29262000000,22074000000,68.816003,31.968261,25.421211,47.599665,The Interest Coverage Ratio was healthy at 47....
11,2013,57464000000,77849000000,20385000000,20385000000,26764000000,20425000000,10411000000,30700000000,677000000,...,21863000000,22184000000,27481000000,28220000000,21863000000,73.814693,34.379375,28.083855,64.058275,The Interest Coverage Ratio was healthy at 64....
12,2012,56193000000,73723000000,17530000000,17530000000,21763000000,18426000000,9811000000,34430000000,800000000,...,16978000000,16537000000,22647000000,23205000000,16978000000,76.221803,29.519960,23.029448,59.597368,"The Operating Margin was 29.51995984970769%, w..."
13,2011,54366000000,69943000000,15577000000,15577000000,27161000000,18162000000,9043000000,27205000000,900000000,...,23150000000,23958000000,28366000000,28903000000,23150000000,77.729008,38.833050,33.098380,96.155932,The Interest Coverage Ratio was healthy at 96....
14,2010,50089000000,62484000000,12395000000,12395000000,24098000000,17218000000,8714000000,26989000000,843000000,...,18760000000,18846000000,25164000000,25871000000,18760000000,80.162922,38.566673,30.023686,166.649007,"In 2010.0, the company demonstrated an excelle..."

In [8]:
# Creating a previous year file
pnl_annual_MSFT_prev = f.create_prev_year(pnl_annual_MSFT)
bs_annual_MSFT_prev = f.create_prev_year(bs_annual_MSFT)
cf_annual_MSFT_prev = f.create_prev_year(cf_annual_MSFT)

In [ ]:
# Create a figure and axis object to plot both lines on the same graph
fig, ax = plt.subplots(figsize=(20, 10))

# Plot COGS
pnl_annual_MSFT["costofGoodsAndServicesSold"].sort_index(ascending=True).plot(
    kind="line",
    ax=ax,
    label="Cost of Goods and Services Sold",
    color='blue'
)

# Plot Total Revenue
pnl_annual_MSFT["totalRevenue"].sort_index(ascending=True).plot(
    kind="line",
    ax=ax,
    label="Total Revenue",
    color='green'
)

# Add titles and labels
ax.set_title("Cost of Goods and Services Sold vs Total Revenue")
ax.set_xlabel("Year")
ax.set_ylabel("Amount in Dollars x 1,000,000,000")
ax.legend()

# Show the plot
plt.show()

In [ ]:
bs_annual_MSFT["totalAssets"].sort_index(ascending=True).plot(kind="line", title="totalAssets", figsize=(20, 10), xlabel="Year",ylabel="Amount in Dollars x 1000000000")