In [1]:
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.fundamentaldata import FundamentalData

api_key_2 ="JP7TLKK2YPF8I2ER"
api_key = "34KPIW7MIZGD3P5R"
api = "TKXGTAX1390IGOG7"

fd = FundamentalData(key= api_key, output_format="pandas")
ts = TimeSeries(key= api_key, output_format="pandas")

In [1]:
import pandas as pd
import transform as t
input_symbol = "AMZN"

Current Working Directory: c:\Users\Nutzer\GitHub\Ironhack\Groupwork\final_project
Current Working Directory: C:\Users\Nutzer\GitHub\Ironhack\Groupwork\final_project

In [1]:
## Test 
import streamlit as st
import pandas as pd
import numpy as np
import functions as py  # Import the functions module
import transform as t



# This will be the input of the streamlit app User
st_input = "AAPL"
bs_annual, pnl_annual, cf_annual = t.transform_pipeline(st_input)

print(bs_annual)
print(pnl_annual)
print(cf_annual)

Current Working Directory: c:\Users\Nutzer\GitHub\Ironhack\Groupwork\final_project
Current Working Directory: C:\Users\Nutzer\GitHub\Ironhack\Groupwork\final_project

c:\Users\Nutzer\GitHub\Ironhack\Groupwork\final_project\functions.py:84: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_prev[numeric_cols.columns] = numeric_cols.applymap(lambda x: 0 if not np.isfinite(x) else x)
c:\Users\Nutzer\GitHub\Ironhack\Groupwork\final_project\functions.py:84: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_prev[numeric_cols.columns] = numeric_cols.applymap(lambda x: 0 if not np.isfinite(x) else x)
c:\Users\Nutzer\GitHub\Ironhack\Groupwork\final_project\functions.py:84: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_prev[numeric_cols.columns] = numeric_cols.applymap(lambda x: 0 if not np.isfinite(x) else x)

    fiscalDateEnding   totalAssets  totalCurrentAssets  \
0               2024  364980000000        152987000000
1               2023  352583000000        143566000000
2               2022  352755000000        135405000000
3               2021  351002000000        134836000000
4               2020  323888000000        143713000000
5               2019  338516000000        162819000000
6               2018  365725000000        131339000000
7               2017  375319000000        128645000000
8               2016  321686000000        106869000000
9               2015  290345000000         89378000000
10              2014  231839000000         68531000000
11              2013  207000000000         73286000000
12              2012  176064000000         57653000000
13              2011  116371000000         44988000000
14              2010   75183000000         41678000000
15              2009   47501000000         31555000000
16              2008   36171000000         30006000000

    cashAndCashEquivalentsAtCarryingValue  cashAndShortTermInvestments  \
0                             29943000000                  65171000000
1                             29965000000                  61555000000
2                             23646000000                  48304000000
3                             34940000000                  62639000000
4                             38016000000                  90943000000
5                             48844000000                 100557000000
6                             25913000000                  25913000000
7                             20289000000                  74181000000
8                             20484000000                  67155000000
9                             21120000000                  41601000000
10                            13844000000                  25077000000
11                            14259000000                  40546000000
12                            10746000000                  29129000000
13                             9815000000                  25952000000
14                            11261000000                  25620000000
15                             5263000000                  23464000000
16                            11875000000                  11875000000

     inventory  currentNetReceivables  totalNonCurrentAssets  \
0   7286000000           6.624300e+10           211993000000
1   6331000000           6.098500e+10           209017000000
2   4946000000           6.093200e+10           217350000000
3   6580000000           5.150600e+10           216166000000
4   4061000000           3.744500e+10           180175000000
5   4106000000           4.580400e+10           175697000000
6   3956000000           4.899500e+10           234386000000
7   4855000000           3.567300e+10           246674000000
8   2132000000           2.929900e+10           385247000000
9   2349000000           3.034300e+10           365166000000
10  2111000000           2.721900e+10           293470000000
11  1764000000           1.310200e+10           239929000000
12   791000000           1.093000e+10           213533000000
13   776000000           5.369000e+09           123607000000
14  1051000000           5.510000e+09            57101000000
15   455000000           3.361000e+09            23520000000
16   509000000           0.000000e+00             4882000000

    propertyPlantEquipment  accumulatedDepreciationAmortizationPPE  ...  \
0              45680000000                             73448000000  ...
1              43715000000                             70884000000  ...
2              42117000000                             72340000000  ...
3              39440000000                             70283000000  ...
4              36766000000                             66760000000  ...
5              37378000000                             58579000000  ...
6              41304000000                             49099000000  ...
7              33783000000                             41293000000  ...
8              27010000000                             34235000000  ...
9              22471000000                             26786000000  ...
10             20624000000                             18391000000  ...
11             16597000000                             11922000000  ...
12             15452000000                              6435000000  ...
13              7777000000                              3991000000  ...
14              2174000000                              2466000000  ...
15              1780000000                              1713000000  ...
16              2455000000                              1292000000  ...

    debtToAssetsRatio_prev  debtToEquityRatio_prev  equityRatio_prev  \
0                        0                       4                 0
1                        0                       5                 0
2                        0                       4                 0
3                        0                       3                 0
4                        0                       2                 0
5                        0                       2                 0
6                        0                       1                 0
7                        0                       1                 0
8                        0                       1                 0
9                        0                       1                 0
10                       0                       0                 0
11                       0                       0                 0
12                       0                       0                 0
13                       0                       0                 0
14                       0                       0                 0
15                       0                       0                 0
16                       0                       0                 0

    workingCapital_prev  netWorkingCapitalRatio_prev  bookValuePerShare_prev  \
0           -1742000000                            0                       3
1          -18577000000                            0                       3
2            9355000000                            0                       3
3           38321000000                            0                       3
4           57101000000                            0                      20
5           15410000000                            0                      22
6           27831000000                            0                      26
7           27863000000                            0                      24
8            8768000000                            0                      21
9            5083000000                            0                      19
10          29628000000                            0                     137
11          19111000000                            0                     125
12          17018000000                            0                      82
13          20956000000                            0                      52
14          20049000000                            0                      35
15          18645000000                            0                      25
16                    0                            0                       0

                                        insights_prev  \
0   In 2023.0, the company's current ratio was 0.9...
1   In 2022.0, the company's current ratio was 0.8...
2   In 2021.0, the current ratio was 1.07, which s...
3   In 2020.0, the current ratio was 1.36, which s...
4   In 2019.0, the current ratio was 1.54, which s...
5   In 2018.0, the current ratio was 1.13, which s...
6   In 2017.0, the current ratio was 1.28, which s...
7   In 2016.0, the current ratio was 1.35, which s...
8   In 2015.0, the current ratio was 1.11, which s...
9   In 2014.0, the current ratio was 1.08, which s...
10  In 2013.0, the current ratio was 1.68, which s...
11  In 2012.0, the current ratio was 1.50, which s...
12  In 2011.0, the current ratio was 1.61, which s...
13  In 2010.0, the current ratio was 2.01, indicat...
14  In 2009.0, the current ratio was 2.74, indicat...
15  In 2008.0, the current ratio was 2.64, indicat...
16                                                  0

                               previous_year_insights  \
0   The Debt-to-Equity Ratio was 5.41 (previous ye...
1   The Debt-to-Equity Ratio was 4.67 (previous ye...
2   In 2022, the Current Ratio was 0.88 (previous ...
3   In 2021, the Current Ratio was 1.07 (previous ...
4   In 2020, the Current Ratio was 1.36 (previous ...
5   In 2019, the Current Ratio was 1.54 (previous ...
6   In 2018, the Current Ratio was 1.13 (previous ...
7   In 2017, the Current Ratio was 1.28 (previous ...
8   In 2016, the Current Ratio was 1.35 (previous ...
9   In 2015, the Current Ratio was 1.11 (previous ...
10  In 2014, the Current Ratio was 1.08 (previous ...
11  In 2013, the Current Ratio was 1.68 (previous ...
12  In 2012, the Current Ratio was 1.50 (previous ...
13  In 2011, the Current Ratio was 1.61 (previous ...
14  In 2010, the Current Ratio was 2.01 (previous ...
15  In 2009, the Current Ratio was 2.74 (previous ...
16

                              year_comparison_insight  \
0   Debt-to-Equity Ratio has increased by 35.22% c...
1   Debt-to-Equity Ratio has decreased by 6.53% co...
2   Current Ratio has decreased by 12.06% compared...
3   Current Ratio has increased by 7.46% compared ...
4   Current Ratio has increased by 36.36% compared...
5   Current Ratio has increased by 54.01% compared...
6   Current Ratio has increased by 13.29% compared...
7   Current Ratio has increased by 27.61% compared...
8   Current Ratio has increased by 35.27% compared...
9   Current Ratio has increased by 10.88% compared...
10  Current Ratio has increased by 8.01% compared ...
11  Current Ratio has increased by 67.86% compared...
12  Current Ratio has increased by 49.58% compared...
13  Current Ratio has decreased by 19.58% compared...
14  Current Ratio has increased by 0.56% compared ...
15  Current Ratio has increased by 37.12% compared...
16

                                             patterns
0   The totalAssets has shown fluctuations over th...
1   The totalAssets has shown fluctuations over th...
2   The totalAssets has grown consistently over th...
3   The totalAssets has shown fluctuations over th...
4   The totalAssets has declined consistently over...
5   The totalAssets has declined consistently over...
6   The totalAssets has shown fluctuations over th...
7   The totalAssets has grown consistently over th...
8   The totalAssets has grown consistently over th...
9   The totalAssets has grown consistently over th...
10  The totalAssets has grown consistently over th...
11  The totalAssets has grown consistently over th...
12  The totalAssets has grown consistently over th...
13  The totalAssets has grown consistently over th...
14  The totalAssets has grown consistently over th...
15  Insufficient data for trend analysis over thre...
16  Insufficient data for trend analysis over thre...

[17 rows x 96 columns]
    fiscalDateEnding  operatingCashflow  paymentsForOperatingActivities  \
0               2024       118254000000                    1.900000e+09
1               2023       110543000000                    5.703000e+09
2               2022       122151000000                    4.665000e+09
3               2021       104038000000                    4.087000e+09
4               2020        80674000000                    4.502000e+09
5               2019        69391000000                    3.423000e+09
6               2018        77434000000                    3.022000e+09
7               2017        64225000000                    2.092000e+09
8               2016        66231000000                    1.316000e+09
9               2015        81266000000                    5.140000e+08
10              2014       109133000000                    3.390000e+08
11              2013        53666000000                    0.000000e+00
12              2012        50856000000                    0.000000e+00
13              2011        37529000000                    0.000000e+00
14              2010        18595000000                    0.000000e+00
15              2009        10159000000                    0.000000e+00

    proceedsFromOperatingActivities  changeInOperatingLiabilities  \
0                               0.0                   21572000000
1                               0.0                    1142000000
2                               0.0                   15558000000
3                               0.0                   19801000000
4                               0.0                    6935000000
5                               0.0                   -7248000000
6                               0.0                   47665000000
7                               0.0                    8838000000
8                               0.0                   -1867000000
9                               0.0                   15188000000
10                              0.0                   13408000000
11                              0.0                    8320000000
12                              0.0                    9843000000
13                              0.0                    8664000000
14                              0.0                    8302000000
15                              0.0                     452000000

    changeInOperatingAssets  depreciationDepletionAndAmortization  \
0               17921000000                           11445000000
1                7719000000                           11519000000
2               14358000000                           11104000000
3               24712000000                           11284000000
4                1245000000                           11056000000
5               -3760000000                           12547000000
6               12927000000                           10903000000
7               14388000000                           10157000000
8               -2351000000                           10505000000
9                -194000000                            9200000000
10               6361000000                            1100000000
11               1842000000                             960000000
12              10142000000                             605000000
13               2907000000                             192000000
14               5576000000                              69000000
15               1787000000                             703000000

    capitalExpenditures  changeInReceivables  changeInInventory  ...  \
0            9447000000           5144000000         1046000000  ...
1           10959000000            417000000         1618000000  ...
2           10708000000           9343000000        -1484000000  ...
3           11085000000          14028000000         2642000000  ...
4            7309000000          -8470000000          127000000  ...
5           10495000000          -3176000000          289000000  ...
6           13313000000          13332000000         -828000000  ...
7           12795000000           6347000000         2723000000  ...
8           13548000000          -1044000000         -217000000  ...
9           11488000000           -611000000          238000000  ...
10           9571000000           6452000000           76000000  ...
11           8165000000           1949000000          973000000  ...
12           8295000000           6965000000           15000000  ...
13           4260000000           1791000000         -275000000  ...
14           2005000000           4860000000          596000000  ...
15           1144000000            939000000          -54000000  ...

    netIncome_prev  freeCashFlow_prev  capitalExpenditureRatio_prev  \
0      96995000000        99584000000                            10
1      99803000000       111443000000                            11
2      94680000000        92953000000                             9
3      57411000000        73365000000                            11
4      55256000000        58896000000                             6
5      59531000000        64121000000                             5
6      48351000000        51430000000                             5
7      45687000000        52683000000                             4
8      53394000000        69778000000                             7
9      39510000000        99562000000                            11
10     37037000000        45501000000                             6
11     41733000000        42561000000                             6
12     25922000000        33269000000                             8
13     14013000000        16590000000                             9
14      8235000000         9015000000                             8
15               0                  0                             0

    operatingCashFlowGrowth_prev  dividendPayoutRatio_prev  \
0                             -9                         0
1                             17                         0
2                             28                         0
3                             16                         0
4                            -10                         0
5                             20                         0
6                             -3                         0
7                            -18                         0
8                            -25                         0
9                            103                         0
10                             5                         0
11                            35                         0
12                           101                         0
13                            83                         0
14                             0                         0
15                             0                         0

    reinvestmentRatio_prev                                      insights_prev  \
0                        0  In 2023.0, the company generated a **high Free...
1                        0  In 2022.0, the company generated a **high Free...
2                        0  In 2021.0, the company generated a **high Free...
3                        0  In 2020.0, the company generated a **high Free...
4                        0  In 2019.0, the company generated a **high Free...
5                        0  In 2018.0, the company generated a **high Free...
6                        0  In 2017.0, the company generated a **high Free...
7                        0  In 2016.0, the company generated a **high Free...
8                        0  In 2015.0, the company generated a **high Free...
9                        0  In 2014.0, the company generated a **high Free...
10                       0  In 2013.0, the company generated a **high Free...
11                       0  In 2012.0, the company generated a **high Free...
12                       0  In 2011.0, the company generated a **high Free...
13                       0  In 2010.0, the company reported a **moderate F...
14                       0  In 2009.0, the company reported a **moderate F...
15                       0                                                  0

                               previous_year_insights  \
0   In 2024, Free Cash Flow increased to 108807000...
1   In 2023, Free Cash Flow decreased to 995840000...
2   In 2022, Free Cash Flow increased to 111443000...
3   In 2021, Free Cash Flow increased to 929530000...
4   In 2020, Free Cash Flow increased to 733650000...
5   In 2019, Free Cash Flow decreased to 588960000...
6   In 2018, Free Cash Flow increased to 641210000...
7   In 2017, Free Cash Flow decreased to 514300000...
8   In 2016, Free Cash Flow decreased to 526830000...
9   In 2015, Free Cash Flow decreased to 697780000...
10  In 2014, Free Cash Flow increased to 995620000...
11  In 2013, Free Cash Flow increased to 455010000...

In [2]:
bs_concat, cf_concat, pnl_concat = t.transform_pipeline(input_symbol)

In [3]:
bs_annual["insights"]

0     In 2024.0, the company's current ratio was 0.8...
1     In 2023.0, the company's current ratio was 0.9...
2     In 2022.0, the company's current ratio was 0.8...
3     In 2021.0, the current ratio was 1.07, which s...
4     In 2020.0, the current ratio was 1.36, which s...
5     In 2019.0, the current ratio was 1.54, which s...
6     In 2018.0, the current ratio was 1.13, which s...
7     In 2017.0, the current ratio was 1.28, which s...
8     In 2016.0, the current ratio was 1.35, which s...
9     In 2015.0, the current ratio was 1.11, which s...
10    In 2014.0, the current ratio was 1.08, which s...
11    In 2013.0, the current ratio was 1.68, which s...
12    In 2012.0, the current ratio was 1.50, which s...
13    In 2011.0, the current ratio was 1.61, which s...
14    In 2010.0, the current ratio was 2.01, indicat...
15    In 2009.0, the current ratio was 2.74, indicat...
16    In 2008.0, the current ratio was 2.64, indicat...
Name: insights, dtype: object

In [4]:
cf_concat

,fiscalDateEnding,operatingCashflow,paymentsForOperatingActivities,proceedsFromOperatingActivities,changeInOperatingLiabilities,changeInOperatingAssets,depreciationDepletionAndAmortization,capitalExpenditures,changeInReceivables,changeInInventory,...,changeInExchangeRate_prev,netIncome_prev,freeCashFlow_prev,capitalExpenditureRatio_prev,operatingCashFlowGrowth_prev,dividendPayoutRatio_prev,reinvestmentRatio_prev,previous_year_insights,year_comparison_insight,patterns
0,2023,84946000000,10761000000,0.0,10051000000,10816000000,48663000000,52729000000,0.000000e+00,-1449000000,...,0,-2147483648,-2147483648,0,0,0,1,"In 2023, Free Cash Flow increased to 322170000...",Free Cash Flow has decreased by 1600.22% compa...,The operatingCashflow has grown consistently o...
1,2022,46752000000,9007000000,0.0,5161000000,2592000000,41921000000,63645000000,-2.189700e+10,2592000000,...,-364000000,-2147483648,-2147483648,0,-29,0,1,"In 2022, Free Cash Flow decreased to -16893000...",Free Cash Flow has increased by 686.64% compar...,The operatingCashflow has shown fluctuations o...
2,2021,46327000000,7243000000,0.0,5916000000,9487000000,34433000000,61053000000,-1.816300e+10,9487000000,...,618000000,-2147483648,-2147483648,1,71,0,0,"In 2021, Free Cash Flow decreased to -14726000...",Free Cash Flow has increased by 585.73% compar...,The operatingCashflow has shown fluctuations o...
3,2020,66064000000,5087000000,0.0,18745000000,2849000000,25180000000,40140000000,-8.169000e+09,2849000000,...,70000000,-2147483648,-2147483648,2,25,0,0,"In 2020, Free Cash Flow increased to 259240000...",Free Cash Flow has decreased by 1307.18% compa...,The operatingCashflow has grown consistently o...
4,2019,38514000000,4008000000,0.0,9904000000,3278000000,21789000000,16861000000,-7.681000e+09,3278000000,...,-351000000,-2147483648,-2147483648,2,67,0,0,"In 2019, Free Cash Flow increased to 216530000...",Free Cash Flow has decreased by 1108.30% compa...,The operatingCashflow has grown consistently o...
5,2018,30723000000,0,0.0,4414000000,1314000000,15341000000,13427000000,-4.615000e+09,1314000000,...,713000000,-2147483648,-2147483648,1,6,0,0,"In 2018, Free Cash Flow increased to 172960000...",Free Cash Flow has decreased by 905.41% compar...,The operatingCashflow has grown consistently o...
6,2017,18365000000,0,0.0,7913000000,3583000000,11478000000,11955000000,-4.786000e+09,3583000000,...,-212000000,-2147483648,-2147483648,2,42,0,0,"In 2017, Free Cash Flow increased to 641000000...",Free Cash Flow has decreased by 398.49% compar...,The operatingCashflow has grown consistently o...
7,2016,17203000000,1119000000,0.0,16961000000,1426000000,8116000000,7804000000,-3.367000e+09,1426000000,...,-374000000,596000000,-2147483648,2,75,0,0,"In 2016, Free Cash Flow increased to 939900000...",Free Cash Flow has decreased by 537.68% compar...,The operatingCashflow has grown consistently o...
8,2015,12039000000,444000000,0.0,11695000000,2187000000,6281000000,4589000000,-1.755000e+09,2187000000,...,-310000000,-241000000,1949000000,1,24,0,0,"In 2015, Free Cash Flow increased to 745000000...",Free Cash Flow has increased by 282.25% compar...,The operatingCashflow has grown consistently o...
9,2014,6842000000,97000000,0.0,6192000000,1193000000,3616000000,4893000000,-1.039000e+09,1193000000,...,-86000000,274000000,2031000000,1,30,0,0,"In 2014, Free Cash Flow decreased to 194900000...",Free Cash Flow has decreased by 4.04% compared...,The operatingCashflow has grown consistently o...
10,2013,5475000000,175000000,0.0,4579000000,1410000000,2460000000,3444000000,-8.460000e+08,1410000000,...,-29000000,-39000000,395000000,1,7,0,0,"In 2013, Free Cash Flow increased to 203100000...",Free Cash Flow has increased by 414.18% compar...,The operatingCashflow has grown consistently o...
11,2012,4180000000,460000000,0.0,3108000000,1860000000,1653000000,3785000000,8.610000e+08,999000000,...,1000000,631000000,2092000000,2,11,0,0,"In 2012, Free Cash Flow decreased to 395000000...",Free Cash Flow has decreased by 81.12% compare...,The operatingCashflow has grown consistently o...
12,2011,3903000000,14000000,0.0,4064000000,2643000000,1034000000,1811000000,8.660000e+08,1777000000,...,17000000,1152000000,-2147483648,3,6,0,0,"In 2011, Free Cash Flow increased to 209200000...",Free Cash Flow has decreased by 197.42% compar...,The operatingCashflow has grown consistently o...
13,2010,3495000000,86000000,0.0,3113000000,1314000000,552000000,979000000,2.950000e+08,1019000000,...,-1000000,902000000,-2147483648,8,0,0,0,"In 2010, Free Cash Flow increased to 251600000...",Free Cash Flow has decreased by 217.16% compar...,Insufficient data for trend analysis over thre...
14,2009,3293000000,80000000,0.0,2159000000,1012000000,384000000,373000000,4.810000e+08,531000000,...,0,0,0,0,0,0,0,"In 2009, Free Cash Flow increased to 292000000...",,Insufficient data for trend analysis over thre...

In [5]:
pnl_concat

,fiscalDateEnding,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,investmentIncomeNet,...,ebit_prev,ebitda_prev,netIncome_prev,grossMargin_prev,operatingMargin_prev,netProfitMargin_prev,interestCoverageRatio_prev,previous_year_insights,year_comparison_insight,patterns
0,2023,183837000000,571668000000,387831000000,304739000000,36852000000,76486000000,85622000000,84992000000,2949000000,...,-2147483648,-2147483648,-2147483648,27,2,0,-1,"In 2023, the Gross Margin was 32.1580007976657...",Total Revenue has declined compared to the pre...,The grossProfit has grown consistently over th...
1,2022,139192000000,511276000000,372084000000,288831000000,12248000000,74729000000,73213000000,84853000000,989000000,...,-2147483648,-2147483648,-2147483648,27,5,7,22,"In 2022, the Gross Margin was 27.2244345519836...",Total Revenue has declined compared to the pre...,The grossProfit has grown consistently over th...
2,2021,126928000000,467958000000,341030000000,272344000000,24879000000,58274000000,56052000000,69686000000,448000000,...,-2147483648,-2147483648,-2147483648,26,5,5,15,"In 2021, the Gross Margin was 27.1238017087003...",Total Revenue has declined compared to the pre...,The grossProfit has grown consistently over th...
3,2020,102560000000,384452000000,281892000000,233307000000,22899000000,39576000000,42740000000,49985000000,555000000,...,-2147483648,-2147483648,-2147483648,24,5,4,9,"In 2020, the Gross Margin was 26.6769323608668...",Total Revenue has declined compared to the pre...,The grossProfit has grown consistently over th...
4,2019,67626000000,278902000000,211276000000,165536000000,14541000000,35081000000,35931000000,46941000000,832000000,...,-2147483648,-2147483648,-2147483648,28,5,4,8,"In 2019, the Gross Margin was 24.2472266244057...",Total Revenue has declined compared to the pre...,The grossProfit has grown consistently over th...
5,2018,65283000000,231264000000,165981000000,139156000000,12421000000,26350000000,28837000000,27999000000,440000000,...,-2147483648,-2147483648,-2147483648,28,2,1,5,"In 2018, the Gross Margin was 28.2287775010377...",Total Revenue has declined compared to the pre...,The grossProfit has grown consistently over th...
6,2017,51222000000,177265000000,126043000000,111934000000,4106000000,13743000000,22620000000,14949000000,202000000,...,-2147483648,-2147483648,-2147483648,23,3,1,8,"In 2017, the Gross Margin was 28.8957210955349...",Total Revenue has declined compared to the pre...,The grossProfit has grown consistently over th...
7,2016,31752000000,135565000000,103813000000,88265000000,4186000000,7432000000,16085000000,16166000000,100000000,...,2005000000,-2147483648,596000000,21,2,0,4,"In 2016, the Gross Margin was 23.4219746984841...",Total Revenue has declined compared to the pre...,The grossProfit has grown consistently over th...
8,2015,22853000000,106332000000,83479000000,71651000000,2233000000,5547000000,12540000000,12288000000,50000000,...,136000000,-2147483648,-241000000,18,0,0,0,"In 2015, the Gross Margin was 21.4921190234360...",Total Revenue has declined compared to the pre...,The grossProfit has grown consistently over th...
9,2014,16330000000,88680000000,72350000000,62752000000,178000000,4852000000,9275000000,9956000000,39000000,...,576000000,-2147483648,274000000,17,1,0,4,"In 2014, the Gross Margin was 18.4145241317095...",Total Revenue has declined compared to the pre...,The grossProfit has grown consistently over th...
10,2013,13264000000,74227000000,60963000000,54181000000,745000000,3529000000,6565000000,7211000000,38000000,...,481000000,-2147483648,-39000000,16,1,0,5,"In 2013, the Gross Margin was 17.8695083999083...",Total Revenue has declined compared to the pre...,The grossProfit has grown consistently over th...
11,2012,9900000000,60926000000,51026000000,45971000000,676000000,2896000000,4564000000,5306000000,40000000,...,987000000,2070000000,631000000,15,1,1,15,"In 2012, the Gross Margin was 16.2492203656895...",Total Revenue has declined compared to the pre...,The grossProfit has grown consistently over th...
12,2011,7668000000,48097000000,40429000000,37288000000,862000000,2058000000,2909000000,3360000000,61000000,...,1543000000,2111000000,1152000000,16,4,3,39,"In 2011, the Gross Margin was 15.9427822941139...",Total Revenue has declined compared to the pre...,The grossProfit has grown consistently over th...
13,2010,5608000000,34097000000,28489000000,26561000000,1406000000,1360000000,1734000000,1967000000,51000000,...,1189000000,1567000000,902000000,22,4,3,34,"In 2010, the Gross Margin was 16.4471947678681...",Total Revenue has declined compared to the pre...,Insufficient data for trend analysis over thre...
14,2009,5531000000,24479000000,20364000000,18978000000,1129000000,1008000000,1240000000,4402000000,37000000,...,0,0,0,0,0,0,0,,,Insufficient data for trend analysis over thre...

In [3]:
import data_extraction_file as data


test, test2, test3 = data.extract_financial_Data("AAPL")

In [ ]:
pnl_annual = fd.get_income_statement_annual(input_symbol)[0].T
pnl_annual = pnl_annual.reset_index().rename(columns={"index": "Year"}).reset_index(drop=True)

In [4]:
test

date,Year,1970-01-01 00:00:00,1970-01-01 00:00:00.000000001,1970-01-01 00:00:00.000000002,1970-01-01 00:00:00.000000003,1970-01-01 00:00:00.000000004,1970-01-01 00:00:00.000000005,1970-01-01 00:00:00.000000006,1970-01-01 00:00:00.000000007,1970-01-01 00:00:00.000000008,1970-01-01 00:00:00.000000009,1970-01-01 00:00:00.000000010,1970-01-01 00:00:00.000000011,1970-01-01 00:00:00.000000012,1970-01-01 00:00:00.000000013,1970-01-01 00:00:00.000000014,1970-01-01 00:00:00.000000015,1970-01-01 00:00:00.000000016
0,fiscalDateEnding,2024-09-30,2023-09-30,2022-09-30,2021-09-30,2020-09-30,2019-09-30,2018-09-30,2017-09-30,2016-09-30,2015-09-30,2014-09-30,2013-09-30,2012-09-30,2011-09-30,2010-09-30,2009-09-30,2008-09-30
1,reportedCurrency,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
2,totalAssets,364980000000,352583000000,352755000000,351002000000,323888000000,338516000000,365725000000,375319000000,321686000000,290345000000,231839000000,207000000000,176064000000,116371000000,75183000000,47501000000,36171000000
3,totalCurrentAssets,152987000000,143566000000,135405000000,134836000000,143713000000,162819000000,131339000000,128645000000,106869000000,89378000000,68531000000,73286000000,57653000000,44988000000,41678000000,31555000000,30006000000
4,cashAndCashEquivalentsAtCarryingValue,29943000000,29965000000,23646000000,34940000000,38016000000,48844000000,25913000000,20289000000,20484000000,21120000000,13844000000,14259000000,10746000000,9815000000,11261000000,5263000000,11875000000
5,cashAndShortTermInvestments,65171000000,61555000000,48304000000,62639000000,90943000000,100557000000,25913000000,74181000000,67155000000,41601000000,25077000000,40546000000,29129000000,25952000000,25620000000,23464000000,11875000000
6,inventory,7286000000,6331000000,4946000000,6580000000,4061000000,4106000000,3956000000,4855000000,2132000000,2349000000,2111000000,1764000000,791000000,776000000,1051000000,455000000,509000000
7,currentNetReceivables,66243000000,60985000000,60932000000,51506000000,37445000000,45804000000,48995000000,35673000000,29299000000,30343000000,27219000000,13102000000,10930000000,5369000000,5510000000,3361000000,None
8,totalNonCurrentAssets,211993000000,209017000000,217350000000,216166000000,180175000000,175697000000,234386000000,246674000000,385247000000,365166000000,293470000000,239929000000,213533000000,123607000000,57101000000,23520000000,4882000000
9,propertyPlantEquipment,45680000000,43715000000,42117000000,39440000000,36766000000,37378000000,41304000000,33783000000,27010000000,22471000000,20624000000,16597000000,15452000000,7777000000,2174000000,1780000000,2455000000
10,accumulatedDepreciationAmortizationPPE,73448000000,70884000000,72340000000,70283000000,66760000000,58579000000,49099000000,41293000000,34235000000,26786000000,18391000000,11922000000,6435000000,3991000000,2466000000,1713000000,1292000000
11,intangibleAssets,None,None,None,None,None,None,None,8015000000,8620000000,9009000000,8758000000,5756000000,5359000000,4432000000,1083000000,453000000,492000000
12,intangibleAssetsExcludingGoodwill,None,None,None,None,None,None,None,2298000000,3206000000,3893000000,4142000000,4179000000,4224000000,3536000000,342000000,247000000,285000000
13,goodwill,None,None,None,None,None,None,None,5717000000,5414000000,5116000000,4616000000,1577000000,1135000000,896000000,741000000,206000000,207000000
14,investments,254763000000,264965000000,292870000000,318994000000,345644000000,362952000000,448287000000,268895000000,237585000000,205666000000,155239000000,146761000000,110505000000,71755000000,39750000000,None,None
15,longTermInvestments,91479000000,100544000000,120805000000,127877000000,100887000000,105341000000,170799000000,194714000000,170430000000,164065000000,130162000000,106215000000,92122000000,55618000000,25391000000,10528000000,None
16,shortTermInvestments,35228000000,31590000000,24658000000,27699000000,52927000000,51713000000,40388000000,53892000000,46671000000,20481000000,11233000000,26287000000,18383000000,16137000000,14359000000,18201000000,12615000000
17,otherCurrentAssets,14287000000,14695000000,21223000000,14111000000,11264000000,12352000000,12087000000,13936000000,8283000000,15085000000,9806000000,6882000000,6458000000,4529000000,3447000000,1444000000,3920000000
18,otherNonCurrentAssets,74834000000,64758000000,54428000000,48849000000,42522000000,32978000000,22283000000,18177000000,8757000000,5422000000,3764000000,5146000000,5478000000,3556000000,2263000000,2011000000,839000000
19,totalLiabilities,308030000000,290437000000,302083000000,287912000000,258549000000,248028000000,258578000000,241272000000,193437000000,170990000000,120292000000,83451000000,57854000000,39756000000,27392000000,15861000000,13874000000
20,totalCurrentLiabilities,176392000000,145308000000,153982000000,125481000000,105392000000,105718000000,115929000000,100814000000,79006000000,80610000000,63448000000,43658000000,38542000000,27970000000,20722000000,11506000000,11361000000
21,currentAccountsPayable,68960000000,62611000000,64115000000,54763000000,42296000000,46236000000,55888000000,44242000000,37294000000,35490000000,30196000000,22367000000,21175000000,14632000000,12015000000,5601000000,5520000000
22,deferredRevenue,21049000000,20161000000,20312000000,19512000000,16843000000,13622000000,14766000000,10384000000,11010000000,12564000000,11522000000,10060000000,8601000000,5777000000,4123000000,None,None
23,currentDebt,21023000000,15972000000,21239000000,15692000000,13793000000,16240000000,20748000000,18473000000,11600000000,10999000000,6308000000,None,None,None,None,None,None
24,shortTermDebt,9967000000,5985000000,9982000000,6000000000,4996000000,5980000000,11964000000,11977000000,8100000000,8499000000,6308000000,0,6310000000,5606000000,2466000000,1948000000,2507000000
25,totalNonCurrentLiabilities,131638000000,145129000000,148101000000,162431000000,153157000000,142310000000,142649000000,140458000000,150505000000,123941000000,52683000000,39322000000,35976000000,21886000000,10970000000,4355000000,4450000000
26,capitalLeaseObligations,752000000,859000000,812000000,769000000,637000000,None,None,None,None,None,None,None,None,None,None,None,None
27,longTermDebt,96662000000,105103000000,110087000000,118700000000,125873000000,117760000000,111984000000,112596000000,85200000000,57400000000,28987000000,16960000000,0,None,None,None,None
28,currentLongTermDebt,10912000000,9822000000,11128000000,9613000000,8773000000,10260000000,8784000000,6496000000,3500000000,2500000000,0,None,None,None,None,None,None
29,longTermDebtNoncurrent,85750000000,95281000000,98959000000,109106000000,98667000000,91807000000,93735000000,97207000000,75427000000,53329000000,28987000000,15900000000,None,None,None,None,None
30,shortLongTermDebtTotal,106629000000,111088000000,233256000000,241783000000,216860000000,209135000000,220132000000,219794000000,164694000000,119787000000,35295000000,16960000000,None,None,None,None,None
31,otherCurrentLiabilities,78304000000,58829000000,60845000000,47493000000,42684000000,37720000000,33327000000,30551000000,22027000000,25181000000,18453000000,13856000000,11414000000,9247000000,5723000000,3376000000,3719000000
32,otherNonCurrentLiabilities,45888000000,49848000000,49142000000,53325000000,54490000000,50503000000,48914000000,40415000000,36074000000,33427000000,24826000000,20208000000,16664000000,10100000000,5531000000,3502000000,1745000000
33,totalShareholderEquity,56950000000,62146000000,50672000000,63090000000,65339000000,90488000000,107147000000,134047000000,128249000000,119355000000,111547000000,123549000000,118210000000,76615000000,47791000000,31640000000,22297000000
34,treasuryStock,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
35,retainedEarnings,-19154000000,-214000000,-3068000000,5562000000,14966000000,45898000000,70400000000,98330000000,96364000000,92284000000,87152000000,104256000000,101289000000,62841000000,37169000000,23353000000,15129000000
36,commonStock,83276000000,73812000000,64849000000,57365000000,50779000000,45174000000,40201000000,35867000000,31251000000,27416000000,23313000000,19764000000,16422000000,13331000000,10668000000,8210000000,7177000000
37,commonStockSharesOutstanding,15116786000,15550061000,15943425000,16426786000,16976763000,4443236000,4754986000,5126201000,5336166000,5578753000,5866161000,899213000,939208000,929277000,915970050,899805500,888325973

In [5]:
test2

date,Year,1970-01-01 00:00:00,1970-01-01 00:00:00.000000001,1970-01-01 00:00:00.000000002,1970-01-01 00:00:00.000000003,1970-01-01 00:00:00.000000004,1970-01-01 00:00:00.000000005,1970-01-01 00:00:00.000000006,1970-01-01 00:00:00.000000007,1970-01-01 00:00:00.000000008,1970-01-01 00:00:00.000000009,1970-01-01 00:00:00.000000010,1970-01-01 00:00:00.000000011,1970-01-01 00:00:00.000000012,1970-01-01 00:00:00.000000013,1970-01-01 00:00:00.000000014,1970-01-01 00:00:00.000000015
0,fiscalDateEnding,2024-09-30,2023-09-30,2022-09-30,2021-09-30,2020-09-30,2019-09-30,2018-09-30,2017-09-30,2016-09-30,2015-09-30,2014-09-30,2013-09-30,2012-09-30,2011-09-30,2010-09-30,2009-09-30
1,reportedCurrency,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
2,grossProfit,180683000000,169148000000,170782000000,152836000000,104956000000,98392000000,101839000000,88186000000,84263000000,93626000000,70537000000,64304000000,68662000000,43818000000,25684000000,17222000000
3,totalRevenue,391035000000,379352000000,391397000000,363172000000,271642000000,256598000000,265595000000,229234000000,215639000000,232982000000,182411000000,170774000000,156508000000,108249000000,65225000000,42905000000
4,costOfRevenue,236449000000,239069000000,248640000000,234954000000,189475000000,180027000000,163756000000,141048000000,131376000000,163618000000,131151000000,123236000000,100486000000,73630000000,45873000000,29832000000
5,costofGoodsAndServicesSold,210352000000,214137000000,223546000000,212981000000,169559000000,161782000000,163756000000,141048000000,131376000000,140089000000,112258000000,106606000000,87846000000,64431000000,39541000000,25683000000
6,operatingIncome,123216000000,114301000000,119437000000,108949000000,66288000000,63930000000,70898000000,61344000000,60024000000,71230000000,52503000000,48999000000,55241000000,33790000000,18385000000,11740000000
7,sellingGeneralAndAdministrative,26097000000,24932000000,25094000000,21973000000,19916000000,18245000000,16705000000,15261000000,14194000000,14329000000,11993000000,10830000000,10040000000,7599000000,5517000000,4149000000
8,researchAndDevelopment,31370000000,29915000000,26251000000,21914000000,18752000000,16217000000,14236000000,11581000000,10045000000,8067000000,6041000000,4475000000,3381000000,2429000000,1782000000,1333000000
9,operatingExpenses,57467000000,54847000000,51345000000,43887000000,38668000000,34462000000,30941000000,26842000000,24239000000,22396000000,18034000000,15305000000,13421000000,10028000000,7299000000,5482000000
10,investmentIncomeNet,None,3750000000,2825000000,2843000000,3763000000,4961000000,5686000000,5201000000,3999000000,2921000000,1795000000,1616000000,1088000000,519000000,None,None
11,netInterestIncome,None,-3933000000,-2931000000,-2645000000,-2873000000,-3576000000,-3240000000,-2323000000,-1456000000,-733000000,-384000000,-136000000,0,0,None,None
12,interestIncome,None,3750000000,106000000,2843000000,3763000000,4961000000,5686000000,5201000000,3999000000,None,None,None,None,None,None,None
13,interestExpense,None,3933000000,2931000000,2645000000,2873000000,3576000000,3240000000,2323000000,1456000000,733000000,384000000,136000000,0,0,155000000,326000000
14,nonInterestIncome,391035000000,383285000000,394328000000,365817000000,274515000000,260174000000,265595000000,229234000000,None,None,None,None,None,None,None,None
15,otherNonOperatingIncome,None,-382000000,-228000000,60000000,-87000000,422000000,-441000000,-133000000,-1195000000,-903000000,-431000000,-324000000,-566000000,-104000000,155000000,326000000
16,depreciation,8200000000,8500000000,8700000000,9500000000,9700000000,11300000000,9300000000,8200000000,8300000000,None,None,None,None,None,None,None
17,depreciationAndAmortization,11445000000,11519000000,11104000000,11284000000,11056000000,11300000000,9300000000,1200000000,8300000000,9200000000,6900000000,5800000000,2600000000,1600000000,815000000,606000000
18,incomeBeforeTax,123485000000,113736000000,119103000000,109207000000,67091000000,65737000000,72903000000,64089000000,61372000000,72515000000,53483000000,50155000000,55763000000,34205000000,18540000000,12066000000
19,incomeTaxExpense,29749000000,16741000000,19300000000,14527000000,9680000000,10481000000,13372000000,15738000000,15685000000,19121000000,13973000000,13118000000,14030000000,8283000000,4527000000,3831000000
20,interestAndDebtExpense,None,3933000000,2931000000,2645000000,2873000000,3576000000,3240000000,2323000000,1456000000,733000000,384000000,136000000,0,0,None,None
21,netIncomeFromContinuingOperations,93736000000,96995000000,99803000000,94680000000,57411000000,55256000000,59531000000,48351000000,45687000000,53394000000,39510000000,37037000000,41733000000,25922000000,14013000000,8235000000
22,comprehensiveIncomeNetOfTax,98016000000,96652000000,88531000000,95249000000,57453000000,58037000000,56505000000,47567000000,46666000000,51967000000,41063000000,36067000000,41789000000,26411000000,13890000000,8321000000
23,ebit,123216000000,117669000000,122034000000,111852000000,69964000000,69313000000,76143000000,66412000000,62828000000,73248000000,53867000000,50291000000,55763000000,34205000000,18385000000,11740000000
24,ebitda,134661000000,125820000000,130541000000,120233000000,77344000000,76477000000,81801000000,67612000000,71128000000,82448000000,60767000000,56091000000,58363000000,35805000000,19200000000,12346000000
25,netIncome,93736000000,96995000000,99803000000,94680000000,57411000000,55256000000,59531000000,48351000000,45687000000,53394000000,39510000000,37037000000,41733000000,25922000000,14013000000,8235000000

In [6]:
test2

date,Year,1970-01-01 00:00:00,1970-01-01 00:00:00.000000001,1970-01-01 00:00:00.000000002,1970-01-01 00:00:00.000000003,1970-01-01 00:00:00.000000004,1970-01-01 00:00:00.000000005,1970-01-01 00:00:00.000000006,1970-01-01 00:00:00.000000007,1970-01-01 00:00:00.000000008,1970-01-01 00:00:00.000000009,1970-01-01 00:00:00.000000010,1970-01-01 00:00:00.000000011,1970-01-01 00:00:00.000000012,1970-01-01 00:00:00.000000013,1970-01-01 00:00:00.000000014,1970-01-01 00:00:00.000000015
0,fiscalDateEnding,2024-09-30,2023-09-30,2022-09-30,2021-09-30,2020-09-30,2019-09-30,2018-09-30,2017-09-30,2016-09-30,2015-09-30,2014-09-30,2013-09-30,2012-09-30,2011-09-30,2010-09-30,2009-09-30
1,reportedCurrency,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
2,grossProfit,180683000000,169148000000,170782000000,152836000000,104956000000,98392000000,101839000000,88186000000,84263000000,93626000000,70537000000,64304000000,68662000000,43818000000,25684000000,17222000000
3,totalRevenue,391035000000,379352000000,391397000000,363172000000,271642000000,256598000000,265595000000,229234000000,215639000000,232982000000,182411000000,170774000000,156508000000,108249000000,65225000000,42905000000
4,costOfRevenue,236449000000,239069000000,248640000000,234954000000,189475000000,180027000000,163756000000,141048000000,131376000000,163618000000,131151000000,123236000000,100486000000,73630000000,45873000000,29832000000
5,costofGoodsAndServicesSold,210352000000,214137000000,223546000000,212981000000,169559000000,161782000000,163756000000,141048000000,131376000000,140089000000,112258000000,106606000000,87846000000,64431000000,39541000000,25683000000
6,operatingIncome,123216000000,114301000000,119437000000,108949000000,66288000000,63930000000,70898000000,61344000000,60024000000,71230000000,52503000000,48999000000,55241000000,33790000000,18385000000,11740000000
7,sellingGeneralAndAdministrative,26097000000,24932000000,25094000000,21973000000,19916000000,18245000000,16705000000,15261000000,14194000000,14329000000,11993000000,10830000000,10040000000,7599000000,5517000000,4149000000
8,researchAndDevelopment,31370000000,29915000000,26251000000,21914000000,18752000000,16217000000,14236000000,11581000000,10045000000,8067000000,6041000000,4475000000,3381000000,2429000000,1782000000,1333000000
9,operatingExpenses,57467000000,54847000000,51345000000,43887000000,38668000000,34462000000,30941000000,26842000000,24239000000,22396000000,18034000000,15305000000,13421000000,10028000000,7299000000,5482000000
10,investmentIncomeNet,None,3750000000,2825000000,2843000000,3763000000,4961000000,5686000000,5201000000,3999000000,2921000000,1795000000,1616000000,1088000000,519000000,None,None
11,netInterestIncome,None,-3933000000,-2931000000,-2645000000,-2873000000,-3576000000,-3240000000,-2323000000,-1456000000,-733000000,-384000000,-136000000,0,0,None,None
12,interestIncome,None,3750000000,106000000,2843000000,3763000000,4961000000,5686000000,5201000000,3999000000,None,None,None,None,None,None,None
13,interestExpense,None,3933000000,2931000000,2645000000,2873000000,3576000000,3240000000,2323000000,1456000000,733000000,384000000,136000000,0,0,155000000,326000000
14,nonInterestIncome,391035000000,383285000000,394328000000,365817000000,274515000000,260174000000,265595000000,229234000000,None,None,None,None,None,None,None,None
15,otherNonOperatingIncome,None,-382000000,-228000000,60000000,-87000000,422000000,-441000000,-133000000,-1195000000,-903000000,-431000000,-324000000,-566000000,-104000000,155000000,326000000
16,depreciation,8200000000,8500000000,8700000000,9500000000,9700000000,11300000000,9300000000,8200000000,8300000000,None,None,None,None,None,None,None
17,depreciationAndAmortization,11445000000,11519000000,11104000000,11284000000,11056000000,11300000000,9300000000,1200000000,8300000000,9200000000,6900000000,5800000000,2600000000,1600000000,815000000,606000000
18,incomeBeforeTax,123485000000,113736000000,119103000000,109207000000,67091000000,65737000000,72903000000,64089000000,61372000000,72515000000,53483000000,50155000000,55763000000,34205000000,18540000000,12066000000
19,incomeTaxExpense,29749000000,16741000000,19300000000,14527000000,9680000000,10481000000,13372000000,15738000000,15685000000,19121000000,13973000000,13118000000,14030000000,8283000000,4527000000,3831000000
20,interestAndDebtExpense,None,3933000000,2931000000,2645000000,2873000000,3576000000,3240000000,2323000000,1456000000,733000000,384000000,136000000,0,0,None,None
21,netIncomeFromContinuingOperations,93736000000,96995000000,99803000000,94680000000,57411000000,55256000000,59531000000,48351000000,45687000000,53394000000,39510000000,37037000000,41733000000,25922000000,14013000000,8235000000
22,comprehensiveIncomeNetOfTax,98016000000,96652000000,88531000000,95249000000,57453000000,58037000000,56505000000,47567000000,46666000000,51967000000,41063000000,36067000000,41789000000,26411000000,13890000000,8321000000
23,ebit,123216000000,117669000000,122034000000,111852000000,69964000000,69313000000,76143000000,66412000000,62828000000,73248000000,53867000000,50291000000,55763000000,34205000000,18385000000,11740000000
24,ebitda,134661000000,125820000000,130541000000,120233000000,77344000000,76477000000,81801000000,67612000000,71128000000,82448000000,60767000000,56091000000,58363000000,35805000000,19200000000,12346000000
25,netIncome,93736000000,96995000000,99803000000,94680000000,57411000000,55256000000,59531000000,48351000000,45687000000,53394000000,39510000000,37037000000,41733000000,25922000000,14013000000,8235000000

In [7]:
test3

date,Year,1970-01-01 00:00:00,1970-01-01 00:00:00.000000001,1970-01-01 00:00:00.000000002,1970-01-01 00:00:00.000000003,1970-01-01 00:00:00.000000004,1970-01-01 00:00:00.000000005,1970-01-01 00:00:00.000000006,1970-01-01 00:00:00.000000007,1970-01-01 00:00:00.000000008,1970-01-01 00:00:00.000000009,1970-01-01 00:00:00.000000010,1970-01-01 00:00:00.000000011,1970-01-01 00:00:00.000000012,1970-01-01 00:00:00.000000013,1970-01-01 00:00:00.000000014,1970-01-01 00:00:00.000000015
0,fiscalDateEnding,2024-09-30,2023-09-30,2022-09-30,2021-09-30,2020-09-30,2019-09-30,2018-09-30,2017-09-30,2016-09-30,2015-09-30,2014-09-30,2013-09-30,2012-09-30,2011-09-30,2010-09-30,2009-09-30
1,reportedCurrency,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD,USD
2,operatingCashflow,118254000000,110543000000,122151000000,104038000000,80674000000,69391000000,77434000000,64225000000,66231000000,81266000000,109133000000,53666000000,50856000000,37529000000,18595000000,10159000000
3,paymentsForOperatingActivities,1900000000,5703000000,4665000000,4087000000,4502000000,3423000000,3022000000,2092000000,1316000000,514000000,339000000,0,0,None,None,None
4,proceedsFromOperatingActivities,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
5,changeInOperatingLiabilities,21572000000,1142000000,15558000000,19801000000,6935000000,-7248000000,47665000000,8838000000,-1867000000,15188000000,13408000000,8320000000,9843000000,8664000000,8302000000,452000000
6,changeInOperatingAssets,17921000000,7719000000,14358000000,24712000000,1245000000,-3760000000,12927000000,14388000000,-2351000000,-194000000,6361000000,1842000000,10142000000,2907000000,5576000000,1787000000
7,depreciationDepletionAndAmortization,11445000000,11519000000,11104000000,11284000000,11056000000,12547000000,10903000000,10157000000,10505000000,9200000000,1100000000,960000000,605000000,192000000,69000000,703000000
8,capitalExpenditures,9447000000,10959000000,10708000000,11085000000,7309000000,10495000000,13313000000,12795000000,13548000000,11488000000,9571000000,8165000000,8295000000,4260000000,2005000000,1144000000
9,changeInReceivables,5144000000,417000000,9343000000,14028000000,-8470000000,-3176000000,13332000000,6347000000,-1044000000,-611000000,6452000000,1949000000,6965000000,1791000000,4860000000,939000000
10,changeInInventory,1046000000,1618000000,-1484000000,2642000000,127000000,289000000,-828000000,2723000000,-217000000,238000000,76000000,973000000,15000000,-275000000,596000000,-54000000
11,profitLoss,93736000000,96995000000,99803000000,94680000000,57411000000,55256000000,59531000000,48351000000,45687000000,53394000000,39510000000,37037000000,41733000000,25922000000,14013000000,8235000000
12,cashflowFromInvestment,2935000000,3705000000,-22354000000,-14545000000,-4289000000,45896000000,16066000000,-46446000000,-45977000000,-56274000000,-22579000000,-33774000000,-48227000000,-40419000000,-13854000000,-17434000000
13,cashflowFromFinancing,-121983000000,-108488000000,-110749000000,-93353000000,-86820000000,-90976000000,-87876000000,-17974000000,-20890000000,-17716000000,-37549000000,-16379000000,-1698000000,1444000000,1257000000,663000000
14,proceedsFromRepaymentsOfShortTermDebt,7920000000,-7956000000,7910000000,2044000000,-1926000000,-11954000000,-74000000,7704000000,-794000000,4382000000,6306000000,0,0,None,None,None
15,paymentsForRepurchaseOfCommonStock,94949000000,77550000000,89402000000,85971000000,72358000000,66897000000,72738000000,32900000000,29722000000,35253000000,45000000000,22860000000,0,0,None,None
16,paymentsForRepurchaseOfEquity,94949000000,77550000000,89402000000,85971000000,72358000000,66897000000,72738000000,32900000000,29722000000,35253000000,45000000000,22860000000,0,0,None,None
17,paymentsForRepurchaseOfPreferredStock,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
18,dividendPayout,15234000000,15025000000,14841000000,14467000000,14081000000,14119000000,13712000000,12769000000,12150000000,11561000000,11031000000,10528000000,2488000000,None,None,None
19,dividendPayoutCommonStock,15234000000,15025000000,14841000000,14467000000,14081000000,14119000000,13712000000,12563000000,11965000000,11561000000,11126000000,10564000000,2488000000,None,None,None
20,dividendPayoutPreferredStock,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
21,proceedsFromIssuanceOfCommonStock,None,None,None,1105000000,880000000,781000000,669000000,555000000,495000000,543000000,730000000,530000000,665000000,831000000,912000000,475000000
22,proceedsFromIssuanceOfLongTermDebtAndCapitalSe...,0,5228000000,5465000000,20393000000,16091000000,6963000000,6969000000,28662000000,24954000000,27114000000,11960000000,16896000000,0,0,None,None
23,proceedsFromIssuanceOfPreferredStock,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
24,proceedsFromRepurchaseOfEquity,-94949000000,-77550000000,-89402000000,-84866000000,-71478000000,-66116000000,-72069000000,-32345000000,-29227000000,-34710000000,-44270000000,-22330000000,665000000,831000000,912000000,475000000
25,proceedsFromSaleOfTreasuryStock,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
26,changeInCashAndCashEquivalents,None,5760000000,-10952000000,-3860000000,-10435000000,24311000000,5624000000,-195000000,-636000000,7276000000,-415000000,3513000000,931000000,-1446000000,5998000000,-6612000000
27,changeInExchangeRate,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
28,netIncome,93736000000,96995000000,99803000000,94680000000,57411000000,55256000000,59531000000,48351000000,45687000000,53394000000,39510000000,37037000000,41733000000,25922000000,14013000000,8235000000