In [1]:
import pandas as pd
import functions as f
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
def generate_insights_pnl(pnl_concated):
    """
    Generates enhanced financial insights for each in the income statement dataframe by comparing current and previous's data.

    Parameters
    ----------
    pnl_concated : pandas.Series
        A pnl_concated from the dataframe containing income statement data with both current and previous's columns.

    Returns
    -------
    str
        A single cohesive text containing narrative insights for the given pnl_concated.
    """
    insights = []

    # Gross Margin Insight
    if pnl_concated['grossMargin_prev'] != 0:
        gross_margin_change = ((pnl_concated['grossMargin'] - pnl_concated['grossMargin_prev']) / pnl_concated['grossMargin_prev']) * 100
        insights.append(f"In {pnl_concated['fiscalDateEnding']}, the Gross Margin was {pnl_concated['grossMargin']}%, which changed by {gross_margin_change:.2f}% compared to the previous.")

    # Operating Margin Insight
    if pnl_concated['operatingMargin_prev'] != 0:
        operating_margin_change = ((pnl_concated['operatingMargin'] - pnl_concated['operatingMargin_prev']) / pnl_concated['operatingMargin_prev']) * 100
        insights.append(f"The Operating Margin was {pnl_concated['operatingMargin']}%, which changed by {operating_margin_change:.2f}% compared to the previous.")

    # Net Profit Margin Insight
    if pnl_concated['netProfitMargin_prev'] != 0:
        net_profit_margin_change = ((pnl_concated['netProfitMargin'] - pnl_concated['netProfitMargin_prev']) / pnl_concated['netProfitMargin_prev']) * 100
        insights.append(f"The Net Profit Margin was {pnl_concated['netProfitMargin']}%, which changed by {net_profit_margin_change:.2f}% compared to the previous.")

    # Interest Coverage Ratio Insight
    if pnl_concated['interestCoverageRatio_prev'] != 0:
        interest_coverage_change = ((pnl_concated['interestCoverageRatio'] - pnl_concated['interestCoverageRatio_prev']) / pnl_concated['interestCoverageRatio_prev']) * 100
        insights.append(f"The Interest Coverage Ratio was {pnl_concated['interestCoverageRatio']}, which changed by {interest_coverage_change:.2f}% compared to the previous.")

    # Revenue Gpnl_concatedth Insight
    if pnl_concated['totalRevenue_prev'] != 0:
        revenue_gpnl_concatedth = ((pnl_concated['totalRevenue'] - pnl_concated['totalRevenue_prev']) / pnl_concated['totalRevenue_prev']) * 100
        insights.append(f"Total Revenue was {pnl_concated['totalRevenue']}, which changed by {revenue_gpnl_concatedth:.2f}% compared to the previous.")

    # Net Income Trends
    if pnl_concated['netIncome_prev'] != 0:
        net_income_change = ((pnl_concated['netIncome'] - pnl_concated['netIncome_prev']) / pnl_concated['netIncome_prev']) * 100
        insights.append(f"Net Income was {pnl_concated['netIncome']}, which changed by {net_income_change:.2f}% compared to the previous.")

    # Operating Expenses Insight
    if pnl_concated['operatingExpenses_prev'] != 0:
        operating_expenses_change = ((pnl_concated['operatingExpenses'] - pnl_concated['operatingExpenses_prev']) / pnl_concated['operatingExpenses_prev']) * 100
        insights.append(f"Operating Expenses were {pnl_concated['operatingExpenses']}, which changed by {operating_expenses_change:.2f}% compared to the previous.")

    # EBITDA Insight
    if pnl_concated['ebitda_prev'] != 0:
        ebitda_change = ((pnl_concated['ebitda'] - pnl_concated['ebitda_prev']) / pnl_concated['ebitda_prev']) * 100
        insights.append(f"EBITDA was {pnl_concated['ebitda']}, which changed by {ebitda_change:.2f}% compared to the previous.")

    return " ".join(insights)

In [2]:
### Inistialize data ###

# balance sheet Microsoft
bs_annual_AMZN = pd.read_csv("data/bs_annual_AMZN.csv")
bs_annual_AMZN = f.second_clean(bs_annual_AMZN)

# cashflow Microsoft
cf_annual_AMZN = pd.read_csv("data/cf_annual_AMZN.csv")
cf_annual_AMZN = f.second_clean(cf_annual_AMZN)

# income statement Microsoft
pnl_annual_AMZN = pd.read_csv("data/pnl_annual_AMZN.csv")
pnl_annual_AMZN = f.second_clean(pnl_annual_AMZN)

In [5]:
pnl_annual_AMZN

,fiscalDateEnding,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,investmentIncomeNet,...,depreciation,depreciationAndAmortization,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome
1,2023,183837000000,571668000000,387831000000,304739000000,36852000000,76486000000,85622000000,84992000000,2949000000,...,30200000000,6606000000,37525000000,7100000000,3182000000,30445000000,31872000000,40707000000,47313000000,30425000000
2,2022,139192000000,511276000000,372084000000,288831000000,12248000000,74729000000,73213000000,84853000000,989000000,...,24924000000,6704000000,-5939000000,-3217000000,2367000000,-2722000000,-5833000000,-3572000000,3132000000,-2722000000
3,2021,126928000000,467958000000,341030000000,272344000000,24879000000,58274000000,56052000000,69686000000,448000000,...,22909000000,10412000000,38155000000,4791000000,1809000000,33355000000,32168000000,39964000000,50376000000,33364000000
4,2020,102560000000,384452000000,281892000000,233307000000,22899000000,39576000000,42740000000,49985000000,555000000,...,16239000000,9009000000,24194000000,2863000000,1647000000,21331000000,22137000000,25841000000,34850000000,21331000000
5,2019,67626000000,278902000000,211276000000,165536000000,14541000000,35081000000,35931000000,46941000000,832000000,...,15100000000,10659000000,13988000000,2400000000,1600000000,11588000000,11637000000,15588000000,26247000000,11588000000
6,2018,65283000000,231264000000,165981000000,139156000000,12421000000,26350000000,28837000000,27999000000,440000000,...,12138000000,475000000,11270000000,1197000000,1417000000,10073000000,9526000000,12687000000,13162000000,10073000000
7,2017,51222000000,177265000000,126043000000,111934000000,4106000000,13743000000,22620000000,14949000000,202000000,...,8800000000,366000000,3802000000,769000000,848000000,3033000000,3534000000,4650000000,5016000000,3033000000
8,2016,31752000000,135565000000,103813000000,88265000000,4186000000,7432000000,16085000000,16166000000,100000000,...,6362000000,8116000000,3771000000,1400000000,484000000,2371000000,2109000000,4255000000,12371000000,2371000000
9,2015,22853000000,106332000000,83479000000,71651000000,2233000000,5547000000,12540000000,12288000000,50000000,...,4949000000,6281000000,1546000000,950000000,459000000,596000000,384000000,2005000000,8286000000,596000000
10,2014,16330000000,88680000000,72350000000,62752000000,178000000,4852000000,9275000000,9956000000,39000000,...,3600000000,4746000000,-74000000,167000000,210000000,-241000000,-567000000,136000000,4882000000,-241000000
11,2013,13264000000,74227000000,60963000000,54181000000,745000000,3529000000,6565000000,7211000000,38000000,...,0,3253000000,435000000,161000000,141000000,274000000,328000000,576000000,3829000000,274000000
12,2012,9900000000,60926000000,51026000000,45971000000,676000000,2896000000,4564000000,5306000000,40000000,...,0,2159000000,389000000,428000000,92000000,-39000000,38000000,481000000,2640000000,-39000000
13,2011,7668000000,48097000000,40429000000,37288000000,862000000,2058000000,2909000000,3360000000,61000000,...,0,1083000000,922000000,291000000,65000000,631000000,505000000,987000000,2070000000,631000000
14,2010,5608000000,34097000000,28489000000,26561000000,1406000000,1360000000,1734000000,1967000000,51000000,...,0,568000000,1504000000,352000000,39000000,1152000000,1018000000,1543000000,2111000000,1152000000
15,2009,5531000000,24479000000,20364000000,18978000000,1129000000,1008000000,1240000000,4402000000,37000000,...,0,378000000,1155000000,253000000,34000000,902000000,969000000,1189000000,1567000000,902000000